@model IEnumerable<VerticalFlight.Core.Domain.Application>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            ScholarshipID
        </th>
        <th>
            UserID
        </th>
        <th>
            ApplicationDate
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApplicationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApplicationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApplicationID })
        </td>
        <td>
            @item.ScholarshipID
        </td>
        <td>
            @item.UserID
        </td>
        <td>
            @String.Format("{0:g}", item.ApplicationDate)
        </td>
    </tr>
}

</table>

